<p>product-card works!</p>
<article class="rounded-xl bg-white p-4 shadow">
  <img
    ngOptimizedImage
    [src]="product().imageURL.thumbnail"
    [alt]="product().name"
    width="200"
    height="200"
    class="rounded-lg"
  />

  <p class="mt-2 text-sm text-gray-500">{{ product().category }}</p>
  <h3 class="font-semibold">{{ product().name }}</h3>
  <p class="text-orange-600 font-bold">{{ product().price }}</p>

  <button
    type="button"
    class="mt-3 w-full rounded-full bg-orange-600 py-2 text-white focus-visible:outline focus-visible:outline-2"
    (click)="add()"
    aria-label="Add {{ product().name }} to cart"
  >
    Add to Cart
  </button>
</article>
