<article class="bg-white p-4 cursor-pointer">
  <img
    ngOptimizedImage
    [src]="product().imageURL.desktop"
    [alt]="product().name"
    width="500"
    height="500"
    class="rounded-lg"
  />
  <div
    role="button"
    class="flex items-center justify-center mt-3 relative -top-8 left-14 w-3/5 rounded-full bg-white py-2 text-black border-2 border-rose-400 focus-visible:outline focus-visible:outline-2 hover:text-red hover:border-red"
  >
    <img src="../../../assets/images/icon-add-to-cart.svg" alt="icon-add-to-cart" />

    <button type="button" (click)="add()" aria-label="Add {{ product().name }} to cart">
      Add to Cart
    </button>
  </div>

  <p class="mt-2 text-sm text-gray-500">{{ product().category }}</p>
  <h3 class="font-semibold pt-1">{{ product().name }}</h3>
  <p class="text-red font-bold pt-1">{{ product().price | currency: 'GH₵' }}</p>
</article>
